[user]
	name = John Barstow
[alias]
	st = status
	unstage = reset HEAD --
	new = checkout -b
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --date=short
	ls = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	cleanup = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
	dlc = diff --cached HEAD^
[push]
    autoSetupRemote = true
[mergetool]
	keepBackup = false
[init]
	defaultBranch = main
